<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<link rel="import" href="../user/behaviors.html">
<dom-module id="user-menu">
   
  <style>   
    paper-progress {
      display: none;
    }
  </style>

  <template>

    <firebase-auth id="auth" app-name="citybugs" user="{{user}}"></firebase-auth>
    
    <paper-menu-button no-overlap dynamic-align>
      <paper-icon-button icon="icons:account-circle" class="dropdown-trigger"></paper-icon-button>
      <paper-menu class="dropdown-content">

        <div hidden$="{{!isLoggedIn}}">
          <paper-item>
            <a href="/obs/add">Add Ob</a>
          </paper-item>          
          <hr>
          <paper-item on-tap="logout">LogOut</paper-item>        
        </div>
        <div  hidden$="{{isLoggedIn}}">
          <paper-item><a name="loginform" href="/user/login">Login</a></paper-item>
          <!--<paper-item><a name="view3" href="/view3">View Three</a></paper-item>-->
        </div>
        <paper-item>Global </paper-item>
      </paper-menu>
    </paper-menu-button>

  </template>


  <script>
    Polymer({
      is: 'user-menu',
      behaviors: [LoginOnlyPage],
      properties: { },
      ready: function() { },
      logout : function(){
        this.$.auth.signOut();
      }
    });
  </script>
</dom-module>